/*FIXME width: 100vw - лишнее, если свойство ничего не меняет - удаляй, в данном случии оно тебе не нужно, тка как ширина по умолчанию 100%*/
html. body {
  width: 100vw;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}
/*FIXME font-family - ставь для документа, обычто шрифты ставят на елементы в редких случиях*/
/*FIXME марджин тут тоже говняно выглядит. Лучше используй 90% и марджин авто*/
.wrapper {
  max-width: 1200px;
  margin: 0 70px;
  font-family: Tahoma, serif;
}

/*FIXME ставь подобные вещи рядом. то-есть в таком порядке думаю будет более окуратно */
/*
  *
  html. body
  body

  потом стили глобального значения

  mb-2
  text
  img

  потом то что юзаеться внутри боди

  wrapper
  header
  ...
*/
/*FIXME если уменьшать екран то картинка мношиться, поищи свойство что будет розтягивать ее так что б упиралось либо по ширине, либо по высоте*/
body {
  background: url("../img/bkg.png");
  background-size: 100vw;
}

header {
  display: flex;
  justify-content: space-between;
}
/*FIXME это что за шняга ???*/
.logo {
  margin-top: 55px;
}
/*FIXME имя класа - mb-2, а в нутри даже марджина нет, такой фигней кого угодно запутаешь )) перепиши */
.mb-2 {
  font-size: 12px;
  color: #d7d7d7;
  padding-top: 150px;
}
/*FIXME думаю что разме ширины должен быть у враппера, ты тут что-то нахамутал, почисть*/
/*FIXME лишний отступ!*/
.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;

}
/*FIXME некоторые тимлиды ебут за пропущеные отступы... Всегда когда пишешь код старайся финальную версию просматривать и убирать все лишнее*/
/*зачем тут -moz-border-radius , -webkit-border-radius ? Лишнее удалай, если работает без него. Вообще такие вещи в дальнейшем будут ставиться автоматом сборщиком проектов*/
.img {
  border: 3px solid grey;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;

}
/*FIXME ставить марджини тексту - плохая практика, лучше обернуть текст в див, у которого будут падинги*/
.text {
  text-align: center;
  color: silver;
  margin: 5px auto 50px auto;
}

/*FIXME для хедера ты клас не юзал. Нужно стараться писать в одном стиле. Почему решил использовать марджин? */
/*Ты позиционируешь текст внетри блока, оперируй падингами, потому что, если тебе скажут добавить в футер блок, будешь все переделывать*/
/*text-align - для текста, а у тебя внутри див...*/
.footer {
  text-align: center;
  font-size: 15px;
  color: #dddddd;
  margin: 60px auto 30px auto;
}

