/*FIXME width: 100vw - лишнее, если свойство ничего не меняет - удаляй, в данном случии оно тебе не нужно, тка как ширина по умолчанию 100%*/
/*Ни на что не повлияло и удалил*/
html. body {
  /*min-height: 100vh;*/
  font-family: Tahoma, serif;
}

* {
  box-sizing: border-box;
}

/*FIXME font-family - ставь для документа, обычто шрифты ставят на елементы в редких случиях*/
/*Поставил*/
/*FIXME марджин тут тоже говняно выглядит. Лучше используй 90% и марджин авто*/
/*Изменил*/
.wrapper {
  max-width: 70%;
  margin: auto;
}

/*FIXME ставь подобные вещи рядом. то-есть в таком порядке думаю будет более окуратно */
/*
  *
  html. body
  body

  потом стили глобального значения


  потом то что юзаеться внутри боди

  wrapper
  header
  ...
*/
/*FIXME если уменьшать екран то картинка мношиться, поищи свойство что будет розтягивать ее так что б упиралось либо по ширине, либо по высоте*/
/*нашел cover (мол фон занимает всю доступную площадь), но когда блоки смещаются часть картинки обрезается*/
body {
  background: url("../img/bkg.png") 100% 100% no-repeat;
  background-size: cover;
}

header {
  display: flex;
  justify-content: space-between;
}

/*FIXME это что за шняга ???*/
/*заданная высота лого, как и в макете*/
.logo {
  margin-top: 55px;
}

/*FIXME имя класа - mb-2, а в нутри даже марджина нет, такой фигней кого угодно запутаешь )) перепиши */
/*Поменял*/
.aside {
  font-size: 12px;
  color: #d7d7d7;
  padding-top: 150px;
}

/*FIXME думаю что разме ширины должен быть у враппера, ты тут что-то нахамутал, почисть*/
/*FIXME лишний отступ!*/
/*Убрал*/
.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
}

/*FIXME некоторые тимлиды ебут за пропущеные отступы... Всегда когда пишешь код старайся финальную версию просматривать и убирать все лишнее*/
/*зачем тут -moz-border-radius , -webkit-border-radius ? Лишнее удалай, если работает без него. Вообще такие вещи в дальнейшем будут ставиться автоматом сборщиком проектов*/
/*Убрал*/
.img {
  border: 3px solid grey;
}

/*FIXME ставить марджини тексту - плохая практика, лучше обернуть текст в див, у которого будут падинги*/
/*Сделал*/
.text {
  text-align: center;
  color: silver;
  padding: 5px 0px 50px 0px;
}

/*FIXME для хедера ты клас не юзал. Нужно стараться писать в одном стиле. Почему решил использовать марджин? */
/*Ты позиционируешь текст внетри блока, оперируй падингами, потому что, если тебе скажут добавить в футер блок, будешь все переделывать*/
/*text-align - для текста, а у тебя внутри див...*/
/*Убрал див и поменял на паддинг*/
.footer {
  text-align: center;
  font-size: 15px;
  color: #dddddd;
  padding: 60px 0 30px 0;
}

